@import "./properties.css";

.circular {
  width: var(--progress-circular-size);
  height: var(--progress-circular-size);
  position: relative;
}

.progress svg {
  width: 100%;
  height: 100%;
}

.fill {
  stroke-dasharray: var(--progress-circular-dasharray);
  stroke-dashoffset: var(--progress-circular-dasharray);
  will-change: stroke-dashoffset;
}

.fill,
.back {
  stroke-linecap: round;
  stroke-width: var(--progress-circular-stroke-width);
}

.percent {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-family: var(--progress-circular-font-family);
  font-weight: bold;
  top: -5px;
}

.label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  transform: translate(0, -80%);
  font-family: var(--progress-circular-font-family);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.11em;
  color: var(--progress-circular-label-enabled);
}

.labelDisabled {
  color: var(--progress-circular-label-disabled);
}
