@import "../../styles/typography.css";
@import "./properties.css";
@import "./colors.css";

.legend {
  display: inline-flex;
  align-items: center;
  cursor: default;
  letter-spacing: var(--letter-spacing);
}

.label {
  color: var(--legend-label-default-color);
  font-size: var(--legend-label-font-size);
  border-radius: var(--legend-label-border-radius);
  padding: var(--legend-label-padding);
  text-align: center;
  text-transform: uppercase;
  min-width: var(--legend-label-min-width);
  text-decoration: none;
}

.outline {
  color: var(--legend-outline-color);
  background-color: var(--legend-outline-background-color);
}

.text {
  font-size: var(--legend-text-font-size);
  margin-left: var(--legend-text-margin-left);
}
