:root {
  --font-size-button-micro: 12px;
  --font-size-button-tiny: 13px;
  --font-size-button-small: 14px;
  --font-size-button-medium: 15px;
  --font-size-button-large: 16px;
  --padding-button-micro: 6px 7px;
  --padding-button-tiny: 8px 10px;
  --padding-button-small: 10px 13px;
  --padding-button-medium: 12px 16px;
  --padding-button-large: 14px 19px;
}
