@import "./properties.css";
@import "../properties.css";

.input {
  padding: var(--search-field-input-padding);
  border: none;
}

.button {
  background: var(--search-field-button-background);
  border: none;
  border-radius:
    0
    calc(var(--toolitem-border-radius) - 1px)
    calc(var(--toolitem-border-radius) - 1px)
    0;
  display: flex;
  font-size: var(--search-field-button-icon-size);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--search-field-button-color);
}

.input:disabled,
.input:disabled + .button {
  opacity: 0.5;
  cursor: not-allowed;
}

.input:focus ~ .button {
  background-image: var(--toolitem-active-background);
  color: var(--toolitem-background-color);
}

.button:active {
  background-color: var(--search-field-button-active-background-color);
}
