@import "../../styles/colors.css";

:root {
  --input-font-size: 14px;

  --input-textarea-border-color: rgba(59, 59, 59, 0.25);
  --input-textarea-border-radius: 3px;
  --input-textarea-caret-default-color: var(--color-light-blue-300);

  --input-textarea-focus-border-color: var(--color-light-blue-300);
  --input-textarea-focus-transition-time: 100ms;

  --input-textarea-placeholder-opacity: 0;
  --input-textarea-focus-placeholder-opacity: 1;
  --input-textarea-focus-placeholder-color: var(--color-light-silver-200);

  --input-textarea-disabled-border: none;
  --input-textarea-disabled-background: none;

  --input-textarea-disabled-border-radius: 6px;

  --input-color-disabled: var(--color-light-silver-100);

  --input-label-color-default: #999999;
  --input-label-transition-time: 0.1s;
  --input-label-font-size-default: var(--input-font-size);
  --input-label-font-size-focus: 12px;
  --input-label-color-focus: var(--color-light-blue-300);

  --input-textarea-height: calc(100% - 25px);

  --input-icon-active-color: var(--color-light-plumb-200);
  --input-icon-inactive-color: var(--color-light-silver-200);

  --input-secondary-text-color: var(--color-light-silver-200);
  --input-secondary-text-font-size: 12px;

  --input-textarea-padding-top: 16px;
  --input-boxed-padding-left: 16px;

  --input-container-boxed-height: 46px;
  --input-container-boxed-background: var(--color-dark-silver-100);
  --input-container-boxed-label-color: var(--color-light-silver-200);
  --input-container-boxed-label-focused-color: var(--color-light-blue-300);

  --input-container-textarea-padding-top: 25px;
}
