/* stylelint-disable selector-max-class */
@import "./properties.css";

.container *,
.container *:before,
.container *:after {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.container > label {
  cursor: pointer;
  font-size: var(--checkbox-label-font-size);
  color: var(--checkbox-label-default-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--checkbox-spacing);
}

.iconCheck:before,
.iconCheck:after {
  content: "";
  display: inline-block;
  margin-right: var(--checkbox-spacing);
}

.iconCheck {
  display: flex;
  align-items: center;
  position: relative;
}

.iconCheck:before {
  width: var(--checkbox-box-width);
  height: var(--checkbox-box-height);
  background: var(--checkbox-box-background-color);
  border: solid 1px var(--checkbox-box-border-color);
  border-radius: var(--checkbox-box-border-radius);
  cursor: pointer;
}

.iconCheck:after {
  position: absolute;
  top: 0;
  left: 0;
}

.disabled,
.disabled > label,
.disabled .iconCheck:before {
  cursor: not-allowed;
}

.disabled .iconCheck:before {
  border: 1px solid var(--checkbox-box-border-color-disabled);
}

.disabled > label {
  color: var(--checkbox-label-disabled-color);
}

.container > input {
  outline: 0;
  margin-right: var(--checkbox-margin-right);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.container > input:checked + label {
  background-color: var(--checkbox-checked-background-color);
}

.container > input:checked + label .iconCheck:before {
  border: solid 1px var(--checkbox-box-border-color-checked);
}

.container > input:checked + label .iconCheck:after {
  transform: rotate(var(--checkbox-marker-rotation));
  color: var(--checkbox-marker-color);
  width: var(--checkbox-marker-width);
  height: var(--checkbox-marker-height);
  left: 4px;
  top: 1px;
  border: 2px solid var(--checkbox-marker-border-color);
  border-top-style: none;
  border-right-style: none;
}

.disabled {
  outline: 0;
}

.secondaryText {
  font-size: var(--checkbox-secondary-text-font-size);
  margin: 0;
  margin-left: calc(var(--checkbox-spacing) * 2 + var(--checkbox-box-width));
}

.error {
  color: var(--color-light-error);
}

.success {
  color: var(--color-light-success);
}
