@import "../../styles/typography.css";
@import "../../styles/colors.css";
@import "../../styles/spacing.css";
@import "../../styles/media.css";

.heading {
  margin: 0;
  font-family: var(--title-font-family);
  color: var(--color-light-silver-300);
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: var(--spacing-small);
}

.actionsSpacing > button {
  margin-left: var(--spacing-small);
}

.checkboxGroup {
  width: 100%;
}
