@import "../../styles/colors.css";

.alert {
  font-size: 1em;
  display: flex;
  border: 1px solid var(--color-light-silver-100);
  border-radius: 3px;
  padding: 2px;
  align-items: center;
  font-family: "Uni Neue";
}

.content {
  margin-left: 19px;
  margin-right: 19px;
}

.content * {
  margin: 0;
}

.icon {
  height: 50px;
  width: 59px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.dark-warning {
  background-color: var(--color-dark-warning);
}

.dark-error {
  background-color: var(--color-dark-error);
}

.dark-info {
  background-color: var(--color-dark-info);
}

.dark-success {
  background-color: var(--color-dark-success);
}

.light-warning {
  background-color: var(--color-light-warning);
}

.light-info {
  background-color: var(--color-light-info);
}

.light-error {
  background-color: var(--color-light-error);
}

.light-success {
  background-color: var(--color-light-success);
}

