@import '../../style.css';
@import '../Clients/ClientOrders/style.css';

.list {
  font-size: 12px;
}

.list span p {
  font-size: 12px;
}

.list a {
  text-decoration: none;
  color: unset;
}

.listItemItalic.listItemItalic {
  font-style: italic;
}

.tableItemCentered {
  text-align: center;
}

.tableItemLeft {
  text-align: left;
}

.tableItemRight {
  text-align: right;
}
