@import "../../styles/typography.css";

:root {
  --date-offset-border-color: #e5e5e5;
  --date-offset-background-color: var(--color-background-light);

  --date-offset-label-border-color: var(--date-offset-border-color);
  --date-offset-label-font-family: var(--title-font-family);
  --date-offset-label-font-size: 14px;
  --date-offset-label-padding: 7px 11px;
  --date-offset-label-background: var(--color-background-light);
  --date-offset-label-checked-background: var(--color-light-red-gradient);
}
