@import "./../../styles/colors.css";
@import "./properties.css";

.root,
.root * {
  box-sizing: border-box;
}

.root {
  display: inline-flex;
  background-color: var(--date-offset-background-color);
  border-radius: 3px;
  border: 1px solid var(--date-offset-border-color);
  z-index: 0;
  padding: 1px;
  box-shadow: var(--date-offset-box-shadow);
}

.item {
  position: relative;
  display: inline-block;
}

.item:first-child .label:before {
  display: none;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.label {
  font-family: var(--date-offset-label-font-family);
  font-size: var(--date-offset-label-font-size);
  padding: var(--date-offset-label-padding);
  background-color: var(--date-offset-label-background);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 100%;
  border-radius: 2px;
  user-select: none;
}

.label:before {
  content: "";
  height: 60%;
  position: absolute;
  left: -1px;
  border-right: 1px solid var(--date-offset-label-border-color);
}

.input:checked + .label {
  background-image: var(--date-offset-label-checked-background);
  color: #ffffff;
  z-index: 1;
}

.input:disabled + .label {
  opacity: 0.5;
}

.input:checked + .label:before {
  display: none;
}
