@import "../../styles/colors.css";
@import "../../styles/typography.css";
@import "./properties.css";
@import "../../components/Toolbar/properties.css";
@import "../../components/Toolbar/RexSearchField/properties.css";

.input {
  padding-right: var(--search-field-input-padding);
  border: none;
  padding-left: 190px;
}

.button {
  background: var(--color-light-plumb-100);
  border: none;
  display: flex;
  font-size: var(--search-field-button-icon-size);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  padding: var(--spacing-nano);
}

.input:disabled,
.input:disabled + .button {
  opacity: 0.5;
  cursor: not-allowed;
}

.input:focus ~ .button {
  background-image: var(--color-dark-silver-100);
  color: var(--toolitem-background-color);
}

.button:active {
  background-color: var(--search-field-button-active-background-color);
}

.rexSearch {
  margin-top: var(--spacing-nano);
  font-size: var(--search-field-button-icon-size);
  height: 40px;
  overflow: hidden;
}

.dropdown {
  background: var(--color-light-plumb-100);
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: white;
  padding: var(--spacing-nano);
  width: 180px;
  position: absolute;
}

.search {
  display: inline-flex;
  background-color: var(--toolitem-background-color);
  border-radius: 3px;
  border: 1px solid var(--toolitem-border-color);
  padding: 1px;
  box-shadow: var(--toolitem-box-shadow);
  height: 35px;
}
