:root {
  --context-switch-label-font-size: 14px;
  --context-switch-label-shadow-color: #e9e9e9;
  --context-switch-checked-label-shadow-color: #96a0ac;
  --context-switch-label-color: #cccccc;
  --context-switch-font-family: "Uni Neue";
  --context-switch-border-radius: 20px;
  --context-switch-padding: 5px 14px;
  --context-switch-white: #ffffff;
  --context-switch-box-shadow: var(--box-shadow);
}
