@import "./properties.css";

.linear {
  width: var(--progress-linear-width);
  height: var(--progress-linear-height);
  position: relative;
  overflow: hidden;
}

.back {
  height: var(--progress-linear-fill-height);
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  will-change: width;
  height: var(--progress-linear-fill-height);
}

.number {
  position: relative;
  height: 100%;
  font-family: var(--progress-linear-font-family);
  text-align: right;
  width: 0%;
  display: inline-block;
}

.innerNumber {
  display: inline-block;
}

.backEnabled {
  background-color: var(--progress-linear-back-enabled);
}

.backDisabled {
  background-color: var(--progress-linear-back-disabled);
}

.fillEnabled {
  background-image: var(--progress-linear-fill-enabled);
}

.fillDisabled {
  background-color: var(--progress-linear-fill-disabled);
}

.numberEnabled {
  color: var(--progress-linear-color-enabled);
}

.numberDisabled {
  color: var(--progress-linear-color-disabled);
}

