.switch {
  --switch-label-left: 15px;
  --switch-width: 40px;
  --switch-height: 20px;
  --switch-radius: 10px;
  --switch-bullet-width: 11px;
  --switch-bullet-height: 11px;
  --switch-bullet-off: 5px;
  --switch-bullet-on: calc(var(--switch-width) - 15px);

  --switch-border-color: var(--color-light-silver-200);
  --switch-bullet-on-color: #ffffff;
  --switch-bullet-off-color: var(--color-dark-green-accent-100);
  --switch-bullet-on-background: var(--color-dark-green-accent-100);
  --switch-bullet-off-background: #ffffff;
  --switch-disabled-color: var(--color-light-silver-200);
  --switch-disabled-background: #ffffff;

  cursor: pointer;
  display: inline-flex;
  position: relative;
  padding-left: calc(var(--switch-width) + var(--switch-label-left));
  height: var(--switch-height);
  align-items: center;
  font-family: "Uni Neue";
}

.switch:before,
.switch:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--switch-radius);
}

.switch:before {
  background-color: var(--switch-bullet-off-color);
  width: var(--switch-bullet-width);
  height: var(--switch-bullet-height);
  z-index: 1;
  transform:
    translate(
      var(--switch-bullet-off),
      calc(var(--switch-bullet-height) / 2)
    );
  transition: transform 100ms ease-in;
}

.switch:after {
  background-color: var(--switch-bullet-off-background);
  width: var(--switch-width);
  height: var(--switch-height);
  z-index: 0;
  border: 1px solid var(--switch-border-color);
  transition: background-color 70ms ease-in;
}

.checked:before {
  background-color: var(--switch-bullet-on-color);
  transform:
    translate(
      var(--switch-bullet-on),
      calc(var(--switch-bullet-height) / 2)
    );
}

.checked:after {
  background-color: var(--switch-bullet-on-background);
  border-color: var(--switch-bullet-on-background);
}

.checked {
  color: var(--switch-bullet-on-background);
}

.disabled {
  color: var(--switch-disabled-color);
}

.disabled:before {
  background-color: var(--switch-disabled-color);
}

.disabled:after {
  background-color: var(--switch-disabled-background);
  border-color: var(--switch-disabled-color);
}

.input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.switch span::selection {
  color: inherit;
}

.checked span::selection {
  color: var(--switch-bullet-on-background);
}
