@import "../../styles/typography.css";

:root {
  --search-field-border-color: var(--color-dark-silver-100);
  --search-field-box-shadow: var(--box-shadow);
  --search-field-font-size: 16px;
  --search-field-input-padding: 8px;
  --search-field-button-background: var(--color-dark-silver-100);
  --search-field-button-icon-size: 20px;
  --search-field-button-active-background-color: var(--color-dark-silver-200);
  --search-field-button-color: var(--color-dark-silver-300);
}
