@import "../../src/styles/typography.css";

.fontBook > div {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.fontBook > div > span:first-child {
  margin-right: 20px;
}

.display1,
.display2,
.display3,
.display4,
.headline {
  font-family: var(--title-font-family);
}

.display1 {
  font-size: var(--display-1-font-size);
}

.display2 {
  font-size: var(--display-2-font-size);
}

.display3 {
  font-size: var(--display-3-font-size);
}

.display4 {
  font-size: var(--display-4-font-size);
}

.headline {
  font-size: var(--headline-font-size);
}

