@import "../../styles/colors.css";

:root {
  --radio-group-color-disabled: var(--color-light-silver-100);

  --radio-group-width: 60px;

  --radio-group-name-font-size: 14px;
  --radio-group-name-color: var(--color-light-plumb-200);

  --radio-group-box-border-color: var(--color-light-green-accent-100);

  --radio-group-label-height: 20px;
  --radio-group-label-width: 20px;
  --radio-group-label-margin-top: 0.5em;
  --radio-group-label-transition-time: 0.3s;

  --radio-group-outside-circle-width: 20px;
  --radio-group-outside-circle-height: 20px;
  --radio-group-outside-circle-color: var(--color-light-silver-200);

  --radio-group-inside-circle-width: 12px;
  --radio-group-inside-circle-height: 12px;
  --radio-group-inside-circle-color: var(--color-light-green-accent-100);

  --radio-group-secondary-text-font-size: 12px;
}
