/* stylelint-disable selector-max-class */
@import "./properties.css";

.container *,
.container *:before,
.container *:after {
  box-sizing: border-box;
  font-family: "Uni Neue";
  letter-spacing: 0.05em;
}

.containerDisabled > .radio {
  cursor: not-allowed;
}

.containerDisabled .name {
  color: var(--radio-group-color-disabled);
}

.containerDisabled .label {
  color: var(--radio-group-color-disabled);
}

.containerDisabled .input:checked + .label:before {
  border-color: var(--radio-group-color-disabled);
}

.containerDisabled .label:before {
  border-color: var(--radio-group-color-disabled);
}

.containerDisabled .label:after {
  background: var(--radio-group-color-disabled);
}

.containerError .name {
  color: var(--color-light-error);
}

.containerSuccess .input:checked + .label:before {
  border-color: var(--color-light-success);
}

.containerSuccess .input:checked + .label:after {
  background: var(--color-light-success);
}

.containerSuccess .input:checked ~ .name {
  color: var(--color-light-success);
}

.radio {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  width: var(--radio-group-width);
}

.name {
  font-size: var(--radio-group-name-font-size);
  color: var(--radio-group-name-color);
}

.input {
  position: absolute;
  opacity: 0;
}

.input:checked + .label:before {
  border-color: var(--radio-group-box-border-color);
}

.input:checked + .label:after {
  transform: scale(1);
}

.label {
  display: inline-block;
  height: var(--radio-group-label-height);
  width: var(--radio-group-label-width);
  margin-top: var(--radio-group-label-margin-top);
  position: relative;
}

.label:before,
.label:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: all var(--radio-group-label-transition-time) ease;
  transition-property: transform, border-color;
}

.label:before {
  top: 0;
  left: 0;
  width: var(--radio-group-outside-circle-width);
  height: var(--radio-group-outside-circle-height);
  border: 2px solid var(--radio-group-outside-circle-color);
}

.label:after {
  top: 4px;
  left: 4px;
  width: var(--radio-group-inside-circle-width);
  height: var(--radio-group-inside-circle-height);
  transform: scale(0);
  background: var(--radio-group-inside-circle-color);
}

.secondaryText {
  position: relative;
  margin-top: 0;
  margin-left: 10px;
  font-size: var(--radio-group-secondary-text-font-size);
}

.containerError .secondaryText {
  color: var(--color-light-error);
}

.containerSuccess .secondaryText {
  color: var(--color-light-success);
}
