@import "./properties.css";
@import "../../styles/media.css";

.grid,
.row,
.col {
  box-sizing: border-box;
}

.grid,
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.grid {
  flex-direction: row;
  align-content: stretch;
}

.row {
  flex: 1 0 100%;
  align-content: space-between;
  margin-left: calc(-1 * var(--grid-column-spacing));
  overflow-x: hidden;
}

.row:last-child {
  margin-bottom: calc(-1 * var(--grid-column-spacing));
}

.flex > * {
  flex: 1;
}

.row > * {
  padding-left: var(--grid-column-spacing);
  padding-bottom: var(--grid-row-spacing);
}

@each name in tv, desk, tablet, palm {
  @media (--media-$(name)) {
    @each size in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
      .col-$(name)-$(size) {
        width: calc((100% / var(--grid-max-columns)) * $(size));
        flex: unset;
      }
    }
  }
}

