@font-face {
  font-family: "Uni Neue";
  src: url("./UniNeueLight.eot");
  src:
    url("./UniNeueLight.eot?#iefix") format("embedded-opentype"),
    url("./UniNeueLight.woff2") format("woff2"),
    url("./UniNeueLight.woff") format("woff"),
    url("./UniNeueLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uni Neue";
  src: url("./UniNeueHeavy-Italic.eot");
  src:
    url("./UniNeueHeavy-Italic.eot?#iefix") format("embedded-opentype"),
    url("./UniNeueHeavy-Italic.woff2") format("woff2"),
    url("./UniNeueHeavy-Italic.woff") format("woff"),
    url("./UniNeueHeavy-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
