@import "./properties.css";

.root {
  display: flex;
  flex-wrap: wrap;
}

.root > * {
  margin-right: 5px;
  margin-bottom: 5px;
}

.secondaryText {
  font-size: var(--checkbox-group-secondary-text-font-size);
  margin: 0;
  margin-left: var(--checkbox-group-secondary-text-margin-left);
}

.secondaryText * {
  box-sizing: border-box;
}

.error {
  color: var(--color-light-error);
}

.success {
  color: var(--color-light-success);
}
