@import "../../styles/colors.css";

:root {
  --dropdown-input-border-color: rgba(59, 59, 59, 0.25);
  --dropdown-input-border-radius: 3px;
  --dropdown-input-font-size: 14px;
  --dropdown-input-height: 37px;
  --dropdown-input-line-height: 42px;
  --dropdown-input-text-color: var(--color-light-plumb-200);

  --dropdown-color-disabled: var(--color-light-silver-100);

  --dropdown-menu-border-radius: 3px;
  --dropdown-menu-background: #ffffff;
  --dropdown-menu-box-shadow: 0 2px 3px 0 rgba(59, 59, 59, 0.25);
  --dropdown-icon-size: 30px;

  --dropdown-option-color: var(--color-light-plumb-200);

  --dropdown-disabled-option-opacity: 0.6;
  --dropdown-disabled-option-background: none;

  --dropdown-option-selected-color: var(--color-light-blue-300);

  --dropdown-label-color: var(--color-light-silver-200);
  --dropdown-label-dropdown-font-size: 12px;

  --dropdown-secondary-text-font-size: 12px;
}
