@import "./../../styles/colors.css";
@import "./properties.css";

.card {
  background: #ffffff;
  box-shadow: var(--card-shadow);
  margin: 0;
  padding: 0;
  border-radius: var(--card-border-radius);
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card * {
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  outline: 0;
}

.title > svg:first-child {
  margin-right: var(--card-title-icon-margin);
}

.titlePadding {
  outline: none;
  padding: var(--card-title-padding);
}

.cursor {
  cursor: pointer;
}

.title > h4,
.title > h3,
.title > h2,
.title > h1 {
  margin: 0;
}

.title > h3 {
  color: var(--color-light-green-accent-100);
  margin-right: var(--card-title-icon-margin);
}

.content {
  padding: var(--card-content-padding);
}

.graphic,
.graphic > img {
  width: 100%;
}

.actions {
  padding: var(--card-actions-padding);
}

.actions > * {
  margin-left: var(--card-spacing-medium);
}

.actions > *:first-child {
  margin-left: unset;
}

