:root {
  --color-dark-green-primary-100: #5dc162;
  --color-dark-green-primary-200: #4caf50;
  --color-dark-green-primary-300: #3b9d3e;

  --color-dark-green-primary-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-green-primary-300) 10%,
      var(--color-dark-green-primary-100) 90%
    );

  --color-dark-green-secondary-100: #6db337;
  --color-dark-green-secondary-200: #6db337;
  --color-dark-green-secondary-300: #6db337;

  --color-dark-green-secondary-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-green-secondary-300) 10%,
      var(--color-dark-green-secondary-100) 90%
    );

  --color-dark-green-light-100: #e8f3db;
  --color-dark-green-light-200: #dcedc8;
  --color-dark-green-light-300: #d0e7b5;

  --color-dark-green-light-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-green-light-300) 10%,
      var(--color-dark-green-light-100) 90%
    );

  --color-dark-green-light-accent-100: #3ed2a4;
  --color-dark-green-light-accent-200: #4fc6b0;

  --color-dark-green-light-accent-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-green-light-accent-200) 10%,
      var(--color-dark-green-light-accent-100) 90%
    );

  --color-dark-silver-100: #cccccc;
  --color-dark-silver-200: #9e9e9e;
  --color-dark-silver-300: #818181;

  --color-dark-silver-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-silver-300) 10%,
      var(--color-dark-silver-100) 90%
    );

  --color-dark-silver-accent-100: #d3d3d3;
  --color-dark-silver-accent-200: #cccccc;

  --color-dark-silver-accent-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-silver-accent-200) 10%,
      var(--color-dark-silver-accent-100) 90%
    );

  --color-dark-plumb-100: #c8d1d6;
  --color-dark-plumb-200: #b0bec5;
  --color-dark-plumb-300: #98aab4;

  --color-dark-plumb-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-plumb-300) 10%,
      var(--color-dark-plumb-100) 90%
    );

  --color-dark-yellow-100: #ffff76;
  --color-dark-yellow-200: #ffeb3b;
  --color-dark-yellow-300: #ffd700;

  --color-dark-yellow-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-yellow-300) 10%,
      var(--color-dark-yellow-100) 90%
    );

  --color-dark-yellow-accent-100: #ffad17;
  --color-dark-yellow-accent-200: #f1a213;

  --color-dark-yellow-accent-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-yellow-accent-200) 10%,
      var(--color-dark-yellow-accent-100) 90%
    );

  --color-dark-red-100: #ff9559;
  --color-dark-red-200: #ff7043;
  --color-dark-red-300: #ff4d2e;

  --color-dark-red-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-red-300) 10%,
      var(--color-dark-red-100) 90%
    );

  --color-dark-blue-100: #05d8fa;
  --color-dark-blue-200: #03a9f4;
  --color-dark-blue-300: #017aee;

  --color-dark-blue-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-blue-300) 10%,
      var(--color-dark-blue-100) 90%
    );

  --color-dark-blue-accent-100: #43c5d8;
  --color-dark-blue-accent-200: #66abe6;

  --color-dark-blue-accent-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-blue-accent-200) 10%,
      var(--color-dark-blue-accent-100) 90%
    );

  --color-dark-purple-100: #dcc9ff;
  --color-dark-purple-200: #b388ff;
  --color-dark-purple-300: #a78ce1;

  --color-dark-purple-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-purple-300) 10%,
      var(--color-dark-purple-100) 90%
    );

  --color-dark-purple-accent-100: #ab89ec;

  --color-dark-pink-100: #f2adad;
  --color-dark-pink-200: #e57373;
  --color-dark-pink-300: #d48585;

  --color-dark-pink-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-pink-300) 10%,
      var(--color-dark-pink-100) 90%
    );

  --color-dark-pink-accent-100: #e66666;
  --color-dark-pink-accent-200: #db5f5f;

  --color-dark-pink-accent-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-dark-pink-accent-200) 10%,
      var(--color-dark-pink-accent-100) 90%
    );
}
